
.quick-action-card-menu-text{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    position: relative;
    left:31px;
    top:-.1em;
    /* identical to box height */
    letter-spacing: 0.0115367em;
    /* Text Blue */
    color: var(--primary-text-color);
}

.quick-action-card-menu-container{
    max-width:  285px;
    margin: 0 auto;
    margin-top:116px;
    cursor: pointer;
    text-align: left;
}
.quick-action-card-view-container{
    margin: 0 auto;
    margin-top:116px;
    max-width: 416px;
}

.custom-menu-icon{
    position: relative;
    top:.4em
}

.quick-action-card-menu-text-active{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    position: relative;
    left:31px;
    top:-.1em;
    /* identical to box height */
    letter-spacing: 0.0115367em;
    /* Text Blue */
    color: var(--primary-custom-color);
}

.custom-menu-view-title{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    /* identical to box height */
    letter-spacing: 0.0115367em;
    /* Text Blue */
    color: var(--primary-text-color)
}
