.header{
    height:60px;
    top:0;
    width:100%;
    z-index:50;
    background: #ffffff!important;
}

.header-container{
 margin:0 auto;
 max-width:1400px;
}

#sub-header-id{
    display:block;
}
#main-header-id{
    display:none;
}

.header-icon{
    margin: 1em;
    width:28px;
    height:17px;
}

.log-out{
    margin: 1em;
    width: 20px;
    height: 19px;
}
