.header{
    height:60px;
    position: fixed;
    top:0;
    width:100%;
    max-width:1400px;
    z-index:5000;
    background: #ffffff!important;
}

#sub-header-id{
    display:block;
}
#main-header-id{
    display:none;
}

.header-icon{
    margin: 1em;
    width:28px;
    height:17px;
}

.log-out{
    margin: 1em;
    width: 20px;
    height: 19px;
}
